.App {
    font-family: sans-serif;
    text-align: center;  
}

  /* #333333
  #797675
  #757575
  #111111
  #f5f6fa
  #f5f5f5
   */

.titleParent{
  white-space: nowrap;
  background-color: lightyellow;
  padding: 0;
  border-radius: 3%;
  margin: 1rem;
  text-align:center;
}
.titleImage{
  width: 50px;
  display: inline-block;
  padding: 5px;
}
.titleHeading{
  display: inline-block;
  vertical-align: middle;
  padding:10px 0 0 0;
}
.topicRow{
  justify-content: center;
}
.cardCol{
  width: 17rem;
  margin:1%;
  padding:0;
}
.cardTitleLink{
  text-decoration:none;
}
.cardPara{
  text-align: justify;
}
.row{
  justify-content: center;
}
.cardProject{
  background-color: #1A132F;
  width: 40rem;
  margin: 1rem;
}

.projectCardImage{
  height: 20rem;
  object-fit: contain;
  padding: 5px;
  border-radius: 1%;
}
.projectCardText{
  text-align: justify;
}
.btn{
  background-color:#EEEEEE;
  color: #373A40;
}

/* navbar */

.navbar {overflow: hidden;
  background-color: #111;
padding: 0.5rem;
}
.nav{display: block; margin: 0; padding: 1rem; list-style: none;}
.nav li {display: inline-block;}
.nav {float: left;}
.nav.nav-right {float: right;}
.nav-item{
  padding-right: 2rem;
}
.nav-link{
  color:#f5f6fa
}
.socials{
  margin-right: 1rem;
  display: inline-block;
  white-space: nowrap;
}

/* initial */

.initial{
  text-align: center;
  margin: 0;
  padding: 0 0 8rem 0;
  padding-bottom: 6rem;
  background-color: #f5f5f5;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  color:#373A40;
}

.heading-primary{
  font-size: 300%;
  letter-spacing: 3px;
  color: #111;
  font-weight: 700;
  margin: 0;
  padding:  12rem 1rem 0 0;
  display: inline-block;
}
.para-primary{
  padding: 2rem 1rem 4rem 1rem;
  text-align: center;
  line-height: 1.6;
  font-size: 1.5rem;
  color: #333333
}

.initialLinks{
  background-color: #333333;
  color: #f5f6fa;
  margin: 1rem 1rem 1rem 1rem;
  text-align: center;
  text-justify: center;
  /* display: flex; */
  padding: 0.2rem 1rem;
}

.buttonInitialParent{
  display: flex;
  justify-content: center;
  padding: 0 0 3rem 0;
}

.talkButton{
  background-color: #f5f5f5;
  position: absolute;
  display: flex;
  right: 0;
  float: right;
  justify-content: center;
  width: 4rem;
  margin: 0 4rem 2rem 1rem;
  border-radius: 50%;
  padding: 1rem 1rem 1rem 1rem;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);

}
.talkLink{
  color: #111;
}


/* subhead */
.subHeader{
  /* justify-content: center; */
  margin: 4rem 0 0 0;
  display: block;

}
.subHeadLine{
  height: 1px;
  background: #dddddd;
  border-bottom: #757575 solid 1px;
  position: relative;
  margin: 1rem 0 2rem 0;
}
.subHeadText{
  background-color: #fff;
    position: absolute;
    top: -0.8rem;
    left: 50%;
    margin-left: -160px;
    width: 320px;
    text-align: center;
    display: block;
    color: #757575;
    text-transform: uppercase;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: 0.2rem;
    padding: 0 !important;
    font-family: "proxima nova semibold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}
.subHeadPara{
  text-align: justify;
  padding: 1rem;
}


/* about me */
.aboutMe{
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
  margin: 2rem 1rem;
}

.aboutMePara{
  display: inline-block;
  padding: 5rem 3rem;
}
ul{
  padding: 0;;
}
.skillBlock{
  display: inline-block;
}
.skillHead{
  padding: 2rem 0;
}
.skillClass{
  display: inline-block;
  color: #fff;
  background-color: #757575;
  border-radius: 5px;
  padding: 5px;
  padding: 0.3rem 1rem;
  margin: 0 1rem 1rem 0;
  text-align: center;  
}
.squeeze{}
@media screen and (max-width: 900px) {
  .heading-primary{
    font-size: 150%;
    padding-top: 6rem;
  }
  .para-primary{
    font-size: 100%;
    padding: 1rem;
  }
  .heading-primary{
    display: block;

  }
  .buttonInitialParent{
    display: block;
  }
  .squeeze{
    padding-top: 0;
  }
  .aboutMe{
    display: block;
    margin: 0.5rem;
  }
  .aboutMePara{
    padding: 2rem 1rem;
  }
  .footerSection{
    display:block;
    width: 100%;
    padding: 0.5rem;
  }
  
}

/* FOOTER HEADING */

.footerHeading{
  font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.footerDetails{
  border-bottom:  1px solid #333333;
}
footer{
  background-color: #111;
  color: #dddddd;
  padding: 1rem;
  position: relative;
}
a{
  color: inherit;
  text-decoration: none;
}

.copyRight{
  padding : 1rem;
  text-align: center;
}
.footerIcons{
  padding: 0.5rem 0.5rem 0 0;
}
.footerSection{
  padding: 1rem;
}