.App {
    font-family: sans-serif;
    text-align: center;  
}

  /* #333333
  #797675
  #757575
  #111111
  #f5f6fa
  #f5f5f5
   */

.titleParent{
  white-space: nowrap;
  background-color: lightyellow;
  padding: 0;
  border-radius: 3%;
  margin: 1rem;
  text-align:center;
}
.titleImage{
  width: 50px;
  display: inline-block;
  padding: 5px;
}
.titleHeading{
  display: inline-block;
  vertical-align: middle;
  padding:10px 0 0 0;
}
.topicRow{
  justify-content: center;
}
.cardCol{
  width: 17rem;
  margin:1%;
  padding:0;
}
.cardTitleLink{
  text-decoration:none;
}
.cardPara{
  text-align: justify;
}
.row{
  justify-content: center;
}
.cardProject{
  background-color: #1A132F;
  width: 40rem;
  margin: 1rem;
}

.projectCardImage{
  height: 20rem;
  object-fit: contain;
  padding: 5px;
  border-radius: 1%;
}
.projectCardText{
  text-align: justify;
}
.btn{
  background-color:#EEEEEE;
  color: #373A40;
}
.navbar {overflow: hidden;
  background-color: #111;
padding: 1rem;
}
.nav{display: block; margin: 0; padding: 1rem; list-style: none;}
.nav li {display: inline-block;}
.nav {float: left;}
.nav.nav-right {float: right;}

.heading-primary{
  font-size: 3.5rem;
  letter-spacing: 3px;
    text-align: center;
    color: #111;
    font-weight: 700;
    margin: 0;
    padding: 12rem 0 0 0;
}
.para-primary{
  margin: 1rem 1rem 2rem 1rem;
  text-align: center;
  line-height: 1.6;
  font-size: 1.5rem;
  color: #333333
}
.nav-link{
  color:#f5f6fa
}
.socials{
  margin-left: 0.5rem;
  padding-right: 1rem;
    display: inline-block;
    white-space: nowrap;
}
.initialLinks{
  background-color: #333333;
  color: #f5f6fa;
  margin: 2rem 1rem 5rem 1rem;
  text-align: center;
  text-justify: center;
  /* display: flex; */
  padding: 0.2rem 1rem;
}

.buttonInitialParent{
  display: flex;
  justify-content: center;
}

.talkButton{
  background-color: #f5f5f5;
  display:flex;
  float: right;
  justify-content: center;
  width: 4rem;
  margin: 0 4rem 2rem 1rem;
  border-radius: 50%;
  padding: 1rem 1rem 1rem 1rem;
 box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);

}
.talkLink{
  color: #111;
  text-decoration: none;
  text-align: center;
  vertical-align: center;
}
.subHeader{
  /* justify-content: center; */
  margin: 0;
  display: block;

}
.subHeadLine{
  height: 1px;
  background: #dddddd;
  border-bottom: #757575 solid 1px;
  margin-bottom: 3rem;
  position: relative;
  margin-top: 2rem;
}
.subHeadText{
  background-color: #fff;
    position: absolute;
    top: -0.8rem;
    left: 50%;
    margin-left: -160px;
    width: 320px;
    text-align: center;
    display: block;
    color: #757575;
    text-transform: uppercase;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: 0.2rem;
    padding: 0 !important;
    font-family: "proxima nova semibold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}
.initial{
  
  margin-top: 0;
  height: 40rem;
  background-color: #f5f5f5;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  color:#373A40;
}
.aboutMe{
  display: flex;
  flex-wrap: wrap;
  margin: 4rem;
  justify-content: center;
}

.aboutMePara{
  width: 30rem;
  display: inline-block;
  margin: 2rem 3rem;
}
.subHeadPara{
  text-align: justify;

}
.skillBlock{
  width: 40rem;
  display: inline-block;
}
.skillHead{
  margin: 2rem 0;
}
.skillClass{
  display: inline-block;
  color: #fff;
  background-color: #757575;
  border-radius: 5px;
  padding: 5px;
  padding: 0.3rem 1rem;
  margin: 0 1rem 1rem 0;
  text-align: center;  
}

