.App {
    font-family: sans-serif;
    text-align: center;  
}

  /* #333333
  #797675
  #757575
  #111111
  #f5f6fa
  #f5f5f5
   */



/* navbar */

.navbar {
  background-color: #111;
padding: 0.5rem;
}
.nav{display: block; margin: 0; padding: 1rem; list-style: none;}
.nav li {display: inline-block;}
.nav {float: left;}
.nav.nav-right {float: right;}
.nav-item{
  padding-right: 2rem;
}
.nav-link{
  color:#f5f6fa
}
.socials{
  margin-right: 1rem;
  display: inline-flex;
  float: right;
  /* white-space: nowrap; */
}

/* initial */

.initial{
  text-align: center;
  margin: 0;
  padding: 0 0 8rem 0;
  padding-bottom: 10.5rem;
    background-color: #f5f5f5;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  color:#373A40;
}

.heading-primary{
  font-size: 4rem;
  letter-spacing: 3px;
  color: #111;
  font-weight: 700;
  margin: 0;
  padding:  12rem 1rem 0 0;
  display: inline-block;
}
.para-primary{
  padding: 2rem 1rem 4rem 1rem;
  text-align: center;
  line-height: 1.6;
  font-size: 1.5rem;
  color: #373A40
}

.initialLinks{
  background-color: #373A40;
  color: #f5f6fa;
  margin: 1rem 1rem 1rem 1rem;
  text-align: center;
  text-justify: center;
  /* display: flex; */
  padding: 0.2rem 1rem;
}

.buttonInitialParent{
  display: flex;
  justify-content: center;
  padding: 0 0 4.5rem 0;
}

.talkButton{
  background-color: #f5f5f5;
  position: absolute;
  display: flex;
  right: 0;
  float: right;
  justify-content: center;
  width: 4rem;
  margin: 0 4rem 2rem 0rem;
  border-radius: 50%;
  padding: 1rem 1rem 1rem 1rem;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
}
.talkLink{
  color: #111;
}


/* subhead */

.subHeading{
  padding: 0 4.5rem;
}
.subHeader{
  /* justify-content: center; */
  margin: 4rem 0 0 0;
  display: block;

}
.subHeadLine{
  height: 1px;
  background: #dddddd;
  border-bottom: #757575 solid 1px;
  position: relative;
  margin: 1rem 0 2rem 0;
}
.subHeadText{
  background-color: #fff;
    position: absolute;
    top: -0.8rem;
    left: 50%;
    margin-left: -160px;
    width: 320px;
    text-align: center;
    display: block;
    color: #757575;
    text-transform: uppercase;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: 0.2rem;
    padding: 0 !important;
    font-family: "proxima nova semibold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}
.subHeadPara{
  text-align: justify;
  padding: 1rem;
}
.subHeadParentPara{
  padding: 2rem 1rem;
}

/* about me */
.aboutMe{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem;
}

.aboutMePara{
  display: inline-block;
  padding: 1rem 1rem;
}
ul{
  padding: 0;
}
.skillBlock{
  display: inline-block;
}
.skillHead{
  padding: 2rem 1rem;
}
.skillClass{
  display: inline-block;
  color: #f5f6fa;
  background-color: #757575;
  border-radius: 5px;
  padding: 5px;
  padding: 0.3rem 1rem;
  margin: 0 0 1rem 1rem;
  text-align: center;  
}
.squeeze{}
@media screen and (max-width: 900px) {
  .initial{
    padding-bottom: 9rem;
  }
  .heading-primary{
    font-size: 3rem;
    padding-top: 12rem;
  }
  .para-primary{
    font-size: 1.5rem;
    padding: 2rem;
  }
  .heading-primary{
    display: block;

  }
  .buttonInitialParent{
    display: block;
  }
  .squeeze{
    padding-top: 1rem;
  }
  .buttonInitialParent{
    padding: 2rem 0 3rem 0;
  }
  .aboutMe{
    display: block;
    margin: 0.5rem;
  }
  
  .footerSection{
    display:block;
    width: 100%;
    padding: 0.5rem;
  }
  .projectCardParent{
    display: block;
    padding-bottom: 0;
  }
  .projectCardImage{
    width: 100%;
    padding-bottom:0 !important;
  }
  .projectCardCol{
    padding-bottom: 0;
  }

  .projectCardContent{
    font-size: 1.2rem !important;
  }
  .projectCardTitle{
    font-size: 1.5rem !important;
  }
  .subHeading{
    padding: 2rem 1rem;
    
  }
  .subHeader{
    /* justify-content: center; */
    margin: 3rem 0 0 0;
    display: block;
  
  }
  .talkButton{
    
    margin: 0 2rem 2rem 0rem;
  }
  .socials{
    display: inline;

  }
  .resume{
    margin: 1rem 0 !important;
  }
  .resumeImage{
    width: 100%;
    background-size: contain;
  }
  
  
}

/* FOOTER HEADING */

.footerHeading{
  font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.footerDetails{
  border-bottom:  2px solid #757575;
}
.regularFooter{
  padding-top: 2rem;
  background-color: #111;
  color: #f5f6fa;
  padding: 1rem;
  position: relative;
}
a{
  color: inherit;
  text-decoration: none;
}

.copyRight{
  padding : 1rem;
  text-align: center;
}
.footerIcons{
  padding: 0.5rem 0.5rem 0 0;
}
.footerSection{
  padding: 1rem;
}


/* Projects */

.projectCardParent{
  
  justify-content: center;
  padding: 2rem 2rem;
}
.projectCardCol{
  padding: 1rem 2rem;
  text-align: justify;
  position: relative;
}
.projectCardImage{
  width: 100%;
}
.projectCardButton{
  position: relative;
  cursor: pointer;
  margin-right: 1rem;
  display: inline-block;
}
.projectCardLinks{
  padding-top: 0;
  display: inline-block;
  vertical-align: top;
}

.projectCardTitle{
  position: relative;
  padding-right: 1rem;
  display: inline-block;
  font-size: 2rem;
}

.projectCardContent{
  padding-top: 1rem;
  font-size: 1.5rem;
}
/* PageHead */

.pageHeadTitle{
  font-size: 4rem;;
  margin: 4rem 2rem 0 2rem;
  color: #333;
}

.pageTitleAndLinks{
  display: block;
}
.pageHeadContent{
  font-size: 1.5rem;
  margin: 1.5rem 2rem 2rem 3rem;
  color: #333;
}
.tagItem{
  padding: 2rem 1rem 1rem 0;
  vertical-align: bottom;
  font-size: 1rem;
  color: #757575;
  bottom:0;
}
.tagParent{
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
}

/* Articles */
.articlesMain{
  padding: 3rem 0;
}
/* Title */
.articlesTopicTitle{
  text-align: center;
  /* justify-content: center; */
  display: block;
  margin: 2rem 0;
  background-color: lightcyan;
  border-radius: 6px;
}
.articlesTitleImage{
   width: 3rem;
   display: inline-block;
   /* padding: 0 2rem; */
   /* vertical-align: top; */
   vertical-align: middle;
   box-shadow: #111;
}
.topicTitleHeading{
  display: inline-block;
  font-size: 4rem;
  padding: 0 2rem;
  vertical-align: middle;
}


/* topic card */

.topicCardTitle{
  position: relative;
  padding: 0 0 0 0.7rem;
  display: inline-block;
  text-align: justify;
}
.topicCardContent{
  position: relative;
  display: block;
}

.topicCardPara{
  position: relative;
  text-align: justify;
  display: inline-block;
  padding: 0 0 2rem 0;
}

.topicCardLink{
  display: inline-block;
  vertical-align: top;
  /* bottom: 1rem;
  left: 1.5rem; */
}

.articlesCard{
  border-width: 4px;
  display: inline-block;
  margin: 1rem;
  justify-content: center;
}

.articlesCardParent{
  display: block;
}
.titleAndLink{
  display: block;
}
/* MyProjects */
.myProjectsButton{
  text-align: center;
}
.myProjectIndividualButton{
  border-color: #373A40;
  border-width: 3px;
  color: #373A40;
  margin: 0 0 1rem 0;
  text-align: center;
  text-justify: center;
  /* display: flex; */
  padding: 0.2rem 1rem;
}
.myProjects{
  padding: 2rem 0;
  margin: 1.5rem;
  display: block;
}
.myArticles{
  padding: 2rem 0;
  margin: 1.5rem;
  display: block;
}

/* resume */

.resume{
  text-align: center;
  margin: 2rem 0;
}
.resumeImage{
}